
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/
@font-face {
    font-family: 'chosun_ilbo_myungjo.ttfRg';
    src: url('chosun_ilbo_myungjo.woff2') format('woff2'),
         url('chosun_ilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;

    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster{
    width: 100%;
    background: #fff;
    height: 56px;
    box-shadow: var(--shadow);
    position: fixed;
}
#headerContainer{
    display: flex;
    max-width: 1000px;
    margin: auto;
}


/*-------------------- header --------------------*/
header > a > svg{
    padding: 10px 0;
    height: 36px;
    width: 56px;
}
header > svg{
    display: none;
}

/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
nav > a{
    margin-left: 64px;
    color: black;
    width: max-content;

}
nav > a:hover{
    color: var(--color-pink);
}
nav > a > p {
    padding-top: 28px;
    line-height: 0;
    overflow: hidden;
    height: 28px;
    font-weight: 700;
}



/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/

html, body {
    background-color: var(--color-tint-gray);
}
main {
    max-width: 1000px;
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}
.container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 100px;
}
.title {    
    font-size: 60px;
    font-family: 'chosun_ilbo_myungjo.ttfRg', serif;
    font-weight: 100;
    color: #b9adad;
}
#concept_text {
    font-size: 18px;
    line-height: 200%;
    color: var(--color-dark-gray);
}
#concept_quote {
    font-size: 20px;
    font-family: 'chosun_ilbo_myungjo.ttfRg', serif;
    color:  #998282;
}

#history_container{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 100px;
}

.history_text{
    font-size: 18px;
    line-height: 200%;
    color: var(--color-dark-gray);
    margin-bottom: 20px;
}