/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/
* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
a, img {
    border:none;
    outline:none;
}


:root {
    --color-main: #A02828;
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;
    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 2px rgba(0,0,0,0.08);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster {
    display: block;
    position: fixed;

    width: 100%;
    height: 160px;

    background: #ffffff;
    z-index: 1;
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.08);
}
#headerContainer {
    width: 1000px;
    margin: auto;
}
/*-------------------- header --------------------*/
header {
    width: 1000px;
    height: 80px;
}
header > a {
    display: block;
    width: 1000px;
}
header > a > img {
    display: block;
    margin: auto;
    padding-top: 20px;
    height: 56px;
    width: 84px;
}
header > svg {
    display: none;
}
/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    width: 100%;
    vertical-align: middle;
    background: #FFFFFF;
    display: table;
    padding-top: 10px;
}
nav > a{
    margin: auto;
    display: table-cell;
    padding: 24px 32px;
    color: black;
    font-weight: 700;
    text-align: center;
}
nav > a:hover{
    color: #FF6672;
}
nav > a > p {
    font-size: 20px;
}


#sectionBanner{
    position: relative;
    margin-top: 160px;
    display: block;
    height: 370px;

    background-image: url('/public/banner/section/desktop.png');

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
}
#sectionBanner > p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 0;
    filter: alpha(opacity=70);
    filter: opacity(0.7);
}

/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background: #F0F0F0;
}
main {
    display: block;
    width: 1000px;
    margin: auto;
    padding-top: 120px;
}

/*-------------------- text grid --------------------*/
#text_title{
    color: #A02828;
    font-size: 24px;  
    margin-bottom: 20px; 
}
.text_title{
    color: #A02828;
    font-size: 24px;  
    margin-bottom: 20px; 
}
#grid_text{
    display: table;
}
#text_container{
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding-right: 40px;
}
#text_container > p {
    font-size: 18px;
    line-height: 180%;
    padding-bottom: 40px;
}
.quote{
    font-size: 20px;
    color: #A02828;
}
.mainReviewImage{
    display: inline;
    width: 80%;
    margin-left: 20%;
}


/*-------------------- image grid --------------------*/
#image_title {
    margin-top: 40px;
    margin-bottom: 40px;
}
#image_title > * {
    display: block;
    width: 100%;
    text-align: center;
    color: #A02828;
    margin-bottom: 10px;
}
#image_title > h4{
    color: #6d6d6d;
}
#grid_reviews {
    display: table;
    margin: auto;
}
.reviewImage {
    vertical-align: top;
    width: calc(100% / 3 - 45px);
    padding: 10px;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.08);
    border-radius: 4px;
    cursor: pointer;
}



/*-------------------- popup --------------------*/


#imagePopup {
    width: auto;
    height: 400px;
    margin: auto;
    z-index: 10;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
#imagePopup > img {
    width: auto;
    height: 100%;
    border-radius: 4px;
}
#imagePopup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 100px;
}

#imagePopupOverlay {
    width: 100vw;
    height: 100vh;
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}




/*----------------------------------------------*/
/*-------------------- 푸터 --------------------*/
/*----------------------------------------------*/
footer {
    margin-top: 80px;
    width: calc(100vw - 32px);

    padding: 16px;
    padding-top: 32px;
    padding-bottom: 100px;

    background: #fafafa;
    color: #6d6d6d;
}
#footer_container {
    max-width: 1000px;
    margin: auto;
}
#footer_container > a {
    margin-right: 10px;
    font-size: 14px;
}
#footer_container > p {
    line-height: 120%;
    font-size: 14px;
}

