
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;    
    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }



/*-------------------- header --------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    background: #fff;
}
header > a {
    margin: auto;
}
header > svg {
    position: absolute;
    right: 0;
}

/*-------------------- nav --------------------*/
@keyframes nav_enter {
    0% { 
        clip-path: inset(0 0 100% 0);
        background: rgba(255,255,255,0.5); 
    }
    100% { 
        clip-path: inset(0);
        background: rgba(255,255,255,1.0);
    }
}
@keyframes nav_leave {
    0% { 
        clip-path: inset(0);
        background: rgba(255,255,255,1.0);
    }
    100% { 
        clip-path: inset(0 0 100% 0);
        background: rgba(255,255,255,0.5);
    }
}
.nav_enter {
    animation: 0.3s nav_enter;
    animation-fill-mode: forwards;
}
.nav_leave {
    animation: 0.3s nav_leave; 
    animation-fill-mode: forwards;
}
nav {
    width: 100%;
    position: fixed;
    top: 56px;
    clip-path: inset(0 0 100% 0);
    padding-top: 5px;
    padding-bottom: 5px;
}
.navButton {
    height: 56px;
    width: calc(100% - 32px);
    margin: auto;
    border-bottom: 1px solid #999999;

    display: flex;
}
.navButton:last-child {
    border: none;
}
.navButton > svg {
    margin-top: auto;
    margin-bottom: auto;
}
.navButton > p {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 1rem;
    font-weight: 700;
    color: black;
}




/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background-color: var(--color-tint-gray);
}
main {
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
}
#titleContainer {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}
#titleContainer > h2 {
    margin-left: 16px;
}
#titleContainer > a {
    margin-right: 16px;
    background: var(--color-blue);
    padding: 0.5em 1em;
    color: #FFF;
    border-radius: 20px;
}
.franchise_container {
    padding: 30px 20px;
    margin: 20px 10px;

    font-size: 14px;
    color: var(--color-dark-gray);
    background-color: #fff;
    box-shadow: var(--shadow);
}
