
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;

    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster{
    width: 100%;
    background: #fff;
    height: 56px;
}
#headerContainer{
    display: flex;
    max-width: 1000px;
    margin: auto;
}


/*-------------------- header --------------------*/
header > svg{
    display: none;
}

/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
nav > a{
    margin-left: 64px;
    color: black;
    width: max-content;

}
nav > a:hover{
    color: var(--color-pink);
}
nav > a > p {
    padding-top: 28px;
    line-height: 0;
    overflow: hidden;
    height: 28px;
    font-weight: 700;
}




/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background-color: var(--color-tint-gray);
}
main {
    max-width: 1000px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}
#titleContainer {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
}
#titleContainer > h2 {
    margin-left: 16px;
}
#titleContainer > a {
    margin-right: 16px;
    background: var(--color-blue);
    padding: 0.5em 1em;
    color: #FFF;
    border-radius: 20px;
}
main > h2 {
    margin-left: 16px;
    margin-top: 80px;
    margin-bottom: 20px;
}
main > h3 {
    margin-left: 16px;
    margin-bottom: 20px;
}

/*-------------------- step --------------------*/

.step_container {
    padding: 30px 20px;
    margin: 20px 10px;

    font-size: 14px;
    color: var(--color-dark-gray);
    background-color: #fff;
    box-shadow: var(--shadow);
}
.step_container > h3{
    font-size: 18px;
}
.step_container > p{
    margin-top: 20px;
}

/*-------------------- cost --------------------*/

#cost_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cost_container {
    padding: 30px 20px;
    margin: 10px 10px;

    font-size: 14px;
    color: var(--color-dark-gray);
    background-color: #fff;
    box-shadow: var(--shadow);
}
.cost_container > h3{
    font-size: 18px;
}
.cost_container > h4{
    margin-top: 10px;
}
.cost_container > p{
    margin-top: 20px;
}

/*-------------------- revenue --------------------*/

#revenue_grid{
    display: grid;
    grid-template-columns: max-content auto;

    margin: 10px 10px;
    box-shadow: var(--shadow);
}
tr, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid var(--color-light-gray);
    padding: 5px;
}
#revenue_table_left{
    background: var(--color-dark-gray);
    color: white;
    padding: 10px;
}
#revenue_table_right_container{
    width: 100%;
    overflow-x: scroll;
}
#revenue_table_right{
    background: #FFF;
    padding: 10px;
    min-width: max-content;
    width: 100%;
    z-index: -1;
}
main > h5{
    display: none;
}