/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}

:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;
    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 2px rgba(0,0,0,0.08);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster {
    position: fixed;

    width: 100%;
    height: 56px;

    background: #ffffff;
    z-index: 1;
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.08);
}
#headerContainer {
    width: 1000px;
    margin: auto;

    display: table;
}
/*-------------------- header --------------------*/
header {
    display: table-cell;
}
header > a > img {
    padding: 10px 0;
    height: 36px;
    width: 56px;
}
header > svg {
    display: none;
}
/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    display: table-cell;
    vertical-align: middle;
}
nav > a{
    display: table-cell;
    padding-left: 64px;
    color: black;
}

/*-------------------- 하단 배너 (div) --------------------*/
#lowerBanner {
    position: fixed;
    height: 80px;
    bottom: -1px;
    width: 100%;
    background-color: #fafafa;
    z-index: 1;
}
#lowerBanner_container {
    max-width: 1000px;
    height: 100%;
    margin: auto;

    padding: 0 16px;

    display : table;
}
#lowerBanner_container > p {
    display: table-cell;
    vertical-align: middle;

    color: #000000;
    font-weight: 700;
    font-size: 24px;
}
#lowerBanner_button_container {
    display: table-cell;
    vertical-align: middle;
    border-spacing: 10px;
    padding-left: 40px;
}
#lowerBanner_button_container > a {
    display: table-cell;
    padding: 0 20px;

    height: 60px;
    line-height: 60px;

    color: white;
    background-color: #4C95F7;
    font-size: 20px;
    font-weight: 900;
    border-radius: 100px;
}


/*-------------------- main --------------------*/
/*----------------------------------------------*/
main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 80px;
}

/*-------------------- 배너 슬라이더 --------------------*/
#banner_slider {
    height: 370px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
#banner_slider img {
    display: inline-block;
    scroll-snap-align: center;
    height: 100%;
    width:100%;
    object-fit: cover;
}

