
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;

    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster{
    width: 100%;
    background: #fff;
    height: 56px;
    z-index: 1;
}
#headerContainer{
    display: flex;
    max-width: 1000px;
    margin: auto;
}


/*-------------------- header --------------------*/
header > svg{
    display: none;
}

/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}
nav > a{
    margin-left: 64px;
    color: black;
    width: max-content;

}
nav > a:hover{
    color: var(--color-pink);
}
nav > a > p {
    padding-top: 28px;
    line-height: 0;
    overflow: hidden;
    height: 28px;
    font-weight: 700;
}



/*-------------------- 하단 배너 (div) --------------------*/
#lowerBanner {
    position: fixed;
    height: 80px;
    bottom: -1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#lowerBanner_container {
    max-width: 400px;
    height: 100%;
    margin: auto;

    padding: 0 1rem;

    display : flex;
    align-items : center;
    justify-content: center;
}
#lowerBanner_container > p {
    display: block;

    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
#lowerBanner_container > a {
    margin-left: auto;
    order: 2;
    border-radius: 100px;

    padding: 0rem 1.5rem ;
    padding-top: 16px;
    line-height: 0;
    height: 16px;

    color: white;
    background-color: var(--color-blue);
    font-size: 0.9rem;
    font-weight: 900;
}





/*-------------------- main --------------------*/
/*----------------------------------------------*/
main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------- 배너 슬라이더 --------------------*/
#banner_slider {
    height: 370px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
#banner_slider img {
    display: inline-block;
    scroll-snap-align: center;
    height: 100%;
    width:100%;
    object-fit: cover;
}




/*-------------------- 추천 메뉴 --------------------*/
#recommendation {
    padding-top: 48px;
}
/* title */
#recommendation_title {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}
#recommendation_title > h2 {
    margin-right: auto;
    order: 1;
}
#recommendation_title > a {
    margin-left: auto;
    order: 2;
    color: var(--color-blue);
}
#recommendation_title > a > svg {
    display: block;
    margin-top: 4px;
}
/* slider */
#recommendation_slider {
    margin-top: 16px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
/* menu card */
.menuCard:first-child {
    margin-left: 16px;
}
.menuCard:last-child {
    margin-right: 16px;
}
.menuCard {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    scroll-snap-align: center;
    width: calc(100vw / 5);
    height: calc(calc(100vw / 5) + 80px);
}
.menuCard:hover{
    cursor: pointer;
}
.menuCard_imgContainer {
    position: relative;
    width: calc(100vw / 5); /* The size you want */
}
.menuCard_imgContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
    background: #FFF; 
    box-shadow: var(--shadow);
}
.menuCard_imgContainer > img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}
.menuCard > p {
    font-weight: 700;
    margin-top: 4px;
    white-space: pre-line;
}
.menuCard_price {
    margin-top: 10px;
    display: flex;
}
.menuCard_price_size {
    display: inline-block;
    width: 16px;
    border-radius: 10px;
    
    height: 8px;
    padding-top: 8px;
    line-height: 0;
    text-align: center;

    font-size: 12px;
    font-weight: 900;
    color: white;
    background: var(--color-pink);
} 
.menuCard_price_value {
    margin-left: 2px;
    padding-top: 2px;

    font-size: 14px;
    font-weight: 700;
    color: var(--color-pink);
}
.menuCard_price_won {
    padding-top: 2px;
    font-size: 14px;
}


/*-------------------- menu detail popup --------------------*/
#menuPopupOverlay {

    width: 100vw;
    height: 100vh;
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}
#menuPopup {
    height: 400px;
    z-index: 10;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    background: #FFF;
    box-shadow: var(--shadow);

    display: flex;
}

#menuPopup_imgContainer{
    position: relative;
    width: 400px; /* The size you want */
    background: #FFF;
    border-radius: 2px 0 0 2px;
}
#menuPopup_imgContainer::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
#menuPopup_imgContainer> img{
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;  
    border-radius: 2px 0 0 2px;
}
#removeMenuPopup {
    position: absolute;
    right: 0;
    top: 0;
}
/* text contents */
#popup_container {
    width: 300px;
    padding-top: 20px;
    background: var(--color-tint-gray);
}
#popup_productName {
    display: block;
    font-weight: 700;
    margin-left: 16px;
}
#popup_price {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 16px;
    display: flex;
}
.popup_price_size {
    display: inline-block;
    width: 16px;
    border-radius: 10px;
    
    height: 8px;
    padding-top: 8px;
    line-height: 0px;
    text-align: center;

    font-size: 12px;
    font-weight: 900;
    color: white;
    background: var(--color-pink);
} 
.popup_price_value {
    padding-top: 2px;

    font-size: 14px;
    font-weight: 700;
    color: var(--color-pink);
}
.popup_price_won {
    padding-top: 2px;
    font-size: 14px;
    margin-right: 10px;
}
#popup_description_long {
    display: block;
    height: 80px;

    overflow-y: scroll;
    overflow-x: hidden;

    margin-top: 20px;
    margin-left: 16px;
    padding-bottom: 20px;

    font-size: 14px;
    font-weight: 500;
}


/*-------------------- 섹션 구분선 --------------------*/
.section_line {
    display: none;
}

/*-------------------- 프렌차이즈 안내 --------------------*/
#franchise {
    margin-top: 80px;
}
#franchise > h2 {
    margin-left: 16px;
    margin-bottom: 16px;
}
.franchise_button {
    display: block;
    margin: 10px 10px;
    width: calc(100% - 20px - 48px);

    padding: 24px;
    background-color: var(--color-pink);
    color: white;
}
.franchise_button > div {
    display: flex;
}
.franchise_button > div > p {
    display: inline-block;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 10px;
    font-size: 24px;
    font-weight: 900;
}
/* 내용 */
.franchise_button > p:first-of-type {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 900;
    line-height: 32px;
}
.franchise_emphasize {
    border: 2px solid white;
    background: #FFF;
    color: var(--color-pink);
    font-size: 18px;
    padding: 2px 4px;
    padding-top: 4px;
}
/* 자세히보기 */
.franchise_button > p:last-of-type {
    margin-top: 24px;
}

/*-------------------- 푸터 --------------------*/
footer {
    width: calc(100% - 32px);

    margin-top: 80px;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 100px;

    background: var(--color-light-gray);
    color: var(--color-dark-gray);
}
#footer_container {
    max-width: 1000px;
    margin: auto;
}
#footer_container > a {
    margin-right: 10px;
    font-size: 14px;
}
#footer_container > p {
    line-height: 120%;
    font-size: 14px;
}

