
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;
    --color-tint-gray: #F0F0F0;
    --shadow: 4px 8px 12px 0px rgba(0,0,0,0.08);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster{
    z-index: 1;
    width: 100%;
    background: #fff;
    height: 56px;
}
#headerContainer{
    display: flex;
    max-width: 1000px;
    margin: auto;
}


/*-------------------- header --------------------*/

header > a > svg{
    padding: 10px 0;
    height: 36px;
}
header > svg{
    display: none;
}

/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    z-index: 1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
nav > a{
    margin-left: 64px;
    color: black;
    width: max-content;

}
nav > a:hover{
    color: var(--color-pink);
}
nav > a > p {
    padding-top: 28px;
    line-height: 0;
    overflow: hidden;
    height: 28px;
    font-weight: 700;
}




/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background-color: var(--color-tint-gray);
}
main {
    max-width: 1000px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

/*-------------------- category buttons --------------------*/
#menu_category {
    height: 40px;
    border-bottom: 1px solid var(--color-light-gray);

    display: flex;
    color: var(--color-dark-gray);
}
#menu_category > p{
    padding: 0 8px;

    padding-top: 20px;
    line-height: 0;
    height: 20px;

    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.activeTab{
    color: var(--color-pink);
    border-bottom: 2px solid var(--color-pink);    
}

#main_topping {
    display: grid;
    grid-template-columns: max-content max-content;
    margin: 40px 0;
    margin-left: 20px;
    column-gap: 10px;
}
.main_topping_button {
    display: inline-block;
    width: max-content;
    color: var(--color-dark-gray);
    padding: 10px;
    background: #FFF;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: var(--shadow);
}
.activeToppingButton{
    background: var(--color-blue);
    color: white;
}

/*-------------------- menu containers --------------------*/
.menu_container {
    margin-top: 20px;
}

#setMenu, 
#doughMenu, 
#sideMenu {
    margin-top: 40px;
}
#doughMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content max-content ;
    column-gap: 10px;
    row-gap: 10px;
}


.menuCard {
    margin-left: 20px;
    margin-bottom: 64px;
    display: inline-block;
    vertical-align: top;
    width: calc(calc(100% - 80px) / 3);
    height: calc(calc(100% / 3) + 100px);
    background: #FFF;    
    border-radius: 40px;
    padding-bottom: 40px;
}

#doughMenu > .menuCard {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: #FFF;
    padding: 30px;
    margin: 0;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.menuCard:hover{
    cursor: pointer;
}
#doughMenu > .menuCard:hover {
    cursor: default;
}

.menuCard_imgContainer {
    position: relative;
    width: 100%; /* The size you want */
}
.menuCard_imgContainer::after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The  padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
    background: #FFF; 
    border-radius: 40px;
}
.menuCard_imgContainer > img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: calc(100% - 20px); /* This if for the object-fit */
    height: calc(100% - 20px); /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
    padding: 10px;
}
.menuCard_productName {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    white-space: pre-line;
    text-align: center;
}
#doughMenu > .menuCard > .menuCard_productName {
    text-align: left;
    margin-top: 0;
}
.menuCard_price {
    margin-top: 10px;
    margin-right: 2px;
    display: flex;
}
.menuCard_price_size {
    display: inline-block;
    width: 16px;
    border-radius: 10px;
    
    height: 8px;
    padding-top: 8px;
    line-height: 0px;
    text-align: center;

    font-size: 12px;
    font-weight: 900;
    color: white;
    background: var(--color-pink);
} 
.menuCard_price_value {
    padding-top: 2px;

    font-size: 14px;
    font-weight: 700;
    color: var(--color-pink);
}
.menuCard_price_won {
    padding-top: 2px;
    font-size: 14px;
}
.menuCard_description_short {
    padding-top: 10px;
}
#doughMenu > .menuCard > .menuCard_description_short {
    line-height: 150%;
}


/*-------------------- menu detail popup --------------------*/
#menuPopupOverlay {

    width: 100vw;
    height: 100vh;
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}
#menuPopup {
    height: 400px;
    z-index: 10;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    background: var(--color-tint-gray);
    box-shadow: var(--shadow);

    display: flex;
}

#menuPopup_imgContainer{
    position: relative;
    width: 400px; /* The size you want */
    background: #FFF;
    border-radius: 2px 0 0 2px;
}
#menuPopup_imgContainer::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
#menuPopup_imgContainer> img{
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;  
    border-radius: 2px 0 0 2px;
}

#removeMenuPopup {
    position: absolute;
    right: 0;
    top: 0;
}
/* text contents */
#popup_container {
    width: 300px;
    margin-top: 20px;
}
#popup_productName {
    display: block;
    font-weight: 700;
    margin-left: 16px;
}
#popup_price {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 16px;
    display: flex;
}
.popup_price_size {
    display: inline-block;
    width: 16px;
    border-radius: 10px;
    
    height: 8px;
    padding-top: 8px;
    line-height: 0px;
    text-align: center;

    font-size: 12px;
    font-weight: 900;
    color: white;
    background: var(--color-pink);
} 
.popup_price_value {
    padding-top: 2px;

    font-size: 14px;
    font-weight: 700;
    color: var(--color-pink);
}
.popup_price_won {
    padding-top: 2px;
    font-size: 14px;
    margin-right: 10px;
}
#popup_description_long {
    display: block;
    height: 300px;

    overflow-y: scroll;
    overflow-x: hidden;

    margin-top: 20px;
    margin-left: 16px;
    padding-bottom: 20px;

    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-dark-gray);
}
