
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;    
    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }


/*-------------------- header --------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    background: #fff;
    box-shadow: var(--shadow);
}
header > a {
    margin: auto;
}
header > a > img{
    padding: 10px 0;
    height: 36px;
}
header > svg {
    position: absolute;
    right: 0;
}

/*-------------------- nav --------------------*/
@keyframes nav_enter {
    0% { 
        clip-path: inset(0 0 100% 0);
        background: rgba(255,255,255,0.5); 
    }
    100% { 
        clip-path: inset(0);
        background: rgba(255,255,255,1.0);
    }
}
@keyframes nav_leave {
    0% { 
        clip-path: inset(0);
        background: rgba(255,255,255,1.0);
    }
    100% { 
        clip-path: inset(0 0 100% 0);
        background: rgba(255,255,255,0.5);
    }
}
.nav_enter {
    animation: 0.3s nav_enter;
    animation-fill-mode: forwards;
}
.nav_leave {
    animation: 0.3s nav_leave; 
    animation-fill-mode: forwards;
}
nav {
    width: 100%;
    position: fixed;
    top: 56px;
    clip-path: inset(0 0 100% 0);
    padding-top: 5px;
    padding-bottom: 5px;
}
.navButton {
    height: 56px;
    width: calc(100% - 32px);
    margin: auto;
    border-bottom: 1px solid #999999;

    display: flex;
}
.navButton:last-child {
    border: none;
}
.navButton > svg {
    margin-top: auto;
    margin-bottom: auto;
}
.navButton > p {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    padding-left: 1rem;
    font-weight: 700;
    color: black;
}



/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background-color: var(--color-tint-gray);
}
main {
    margin-top: 56px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
main > h2 {
    padding-top: 48px;
    margin-left: 16px;
}
/*-------------------- buttons --------------------*/
#selectRegion, #shopInquiry{
    display: inline-block;
    width: calc(calc(100% - 30px) / 2);
    height: 40px;

    margin-top: 48px;
    margin-left: 10px;

    padding: 0;
    vertical-align: top;
    text-align: center;

    border: 1px solid var(--color-light-gray);
    background: #FFF;
    color: black;
    font-size: 14px;

    border-radius: 20px;
}
#shopInquiry{
    height: 20px;
    padding-top: 20px;
    line-height: 0;
    vertical-align: middle;
}

/*-------------------- Popup --------------------*/
#popupOverlay {
    width: 100vw;
    height: 100vh;
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}
.select_popup {
    z-index: 10;

    position: fixed;
    width: calc(100% - 32px);
    left: 16px;
    background: #FFF;
    box-shadow: var(--shadow);

    padding-bottom: 10px;
}
.select_popup > h2 {
    margin: 23px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
/* button */
#select_city_close {
    position: absolute;
    top: 0;
    right: 0;
}
#select_district_back {
    position: absolute;
    top: 0;
    left: 0;
}
#select_district_close {
    position: absolute;
    top: 0;
    right: 0;
}
/* list */
.select_popup_container {
    width: calc(100% - 20px);
    margin: auto;
}
.regionList {
    border-top: 1px solid var(--color-light-gray);
    width: 100%;
    display: flex;
}
.regionList:hover{
    cursor: pointer;
}
.regionList > p {
    height: 25px;
    padding-top: 25px;
    line-height: 0;
}
.region_count {
    margin-left: 8px;
}

/*-------------------- shop list --------------------*/
#shopList{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 80px;
}
.shopCard {
    width: calc(100% - 20px - 32px);
    margin: auto;
    margin-top: 20px;
    
    padding: 16px;
    background: #FFF;

    display: grid;
    grid-template-areas: 
    'shopName shopName callButton'
    'shopAddress shopAddress callButton'
    'shopPhone shopPhone callButton'
    'shopHours shopHours callButton';
    align-items: center;
    row-gap: 8px;
}
.shopName {
    display: inline-block;
    font-size: 16px;
    grid-area: shopName;
}
.isopen{
    margin-left: 10px;
}
.shopAddress{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopAddress;
}
.shopPhone{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopPhone;
}
.shopHours{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopHours;
}
.shopCard > a {
    text-align: right;
    grid-area: callButton;
}


/*-------------------- 푸터 --------------------*/
footer {
    margin-top: 48px;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 80px;
    background-color: var(--color-light-gray);

    color: var(--color-dark-gray);
}
#footer_container > a {
    margin-right: 10px;
    font-size: 14px;
}
#footer_container > p {
    font-size: 14px;
    line-height: 120%;
}