
/*----------------------------------------------*/
/*-------------------- 공통 --------------------*/
/*----------------------------------------------*/

* {
    font-family: 'NanumSquare', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
p,h1,h2,h3,h4,h5,h6,a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
}
button:hover, a:hover {
    cursor: pointer;
}
:root {
    --color-blue: #4C95F7;
    --color-pink:  #FF6672;
    --color-light-gray: #D9D9D9;
    --color-dark-gray: #6d6d6d;

    --color-tint-gray: #F0F0F0;
    --shadow: 0px 4px 16px 0px rgba(0,0,0,0.12);
}
[hidden] { display: none !important; }


/*-------------------- header container --------------------*/
#headerMaster{
    width: 100%;
    background: #fff;
    height: 56px;
    position: fixed;
    box-shadow: var(--shadow);
}
#headerContainer{
    display: flex;
    max-width: 1000px;
    margin: auto;
}


/*-------------------- header --------------------*/
header > a > svg{
    padding: 10px 0;
    height: 36px;
}
header > svg{
    display: none;
}


/*-------------------- nav --------------------*/
nav > a > svg {
    display: none;
}
nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
nav > a{
    margin-right: 64px;
    color: black;
    width: max-content;

}
nav > a:hover{
    color: var(--color-pink);
}
nav > a > p {
    padding-top: 28px;
    line-height: 0;
    overflow: hidden;
    height: 28px;
    font-weight: 700;
}


/*----------------------------------------------*/
/*-------------------- main --------------------*/
/*----------------------------------------------*/
html, body {
    background-color: var(--color-tint-gray);
}
main {
    max-width: 1000px;
    padding-top: 72px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}
main > h2 {
    padding-top: 48px;
    margin-left: 16px;
}

/*-------------------- buttons --------------------*/
#selectRegion, #shopInquiry{
    display: inline-block;
    width: calc(calc(100% - 30px) / 2);
    height: 40px;

    margin-top: 48px;
    margin-left: 10px;

    padding: 0;
    vertical-align: top;
    text-align: center;

    border: 1px solid var(--color-light-gray);
    background: #FFF;
    color: black;
    font-size: 14px;

    border-radius: 20px;
}
#shopInquiry{
    height: 20px;
    padding-top: 20px;
    line-height: 0;
    vertical-align: middle;
}

/*-------------------- Popup --------------------*/
#popupOverlay {
    width: 100vw;
    height: 100vh;
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}
.select_popup {
    z-index: 10;

    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background: #FFF;
    box-shadow: var(--shadow);

    padding-bottom: 10px;
}
.select_popup > h2 {
    margin: 23px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
/* button */
#select_city_close {
    position: absolute;
    top: 0;
    right: 0;
}
#select_district_back {
    position: absolute;
    top: 0;
    left: 0;
}
#select_district_close {
    position: absolute;
    top: 0;
    right: 0;
}
/* list */
.select_popup_container {
    width: calc(100% - 20px);
    margin: auto;
}
.regionList {
    border-top: 1px solid var(--color-light-gray);
    width: 100%;
    display: flex;
}
.regionList:hover{
    cursor: pointer;
}
.regionList > p {
    height: 25px;
    padding-top: 25px;
    line-height: 0;
}
.region_count {
    margin-left: 8px;
}

/*-------------------- shop list --------------------*/
#shopList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
}
.shopCard {
    width: calc(100% - 20px - 32px);
    margin: auto;
    margin-top: 20px;
    
    padding: 16px;
    background: #FFF;

    display: grid;
    grid-template-areas: 
    'shopName shopName callButton'
    'shopAddress shopAddress callButton'
    'shopPhone shopPhone callButton'
    'shopHours shopHours callButton';
    align-items: center;
    row-gap: 8px;
}
.shopName {
    display: inline-block;
    font-size: 16px;
    grid-area: shopName;
}
.isopen{
    margin-left: 10px;
}
.shopAddress{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopAddress;
}
.shopPhone{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopPhone;
}
.shopHours{
    font-size: 14px;
    color: var(--color-dark-gray);
    grid-area: shopHours;
}
.shopCard > a {
    text-align: right;
    grid-area: callButton;
}